@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@500&display=swap');
html{
    scroll-behavior: smooth;
}
::selection{
    color: rgb(0, 102, 255);
}
*{
    padding: 0px;
    margin: 0px;
    font-family: 'Inter', sans-serif;
}
.container{
    padding: 0px 125px;
    max-width: 1140px;
}
.header{
    display: flex;
    justify-content: space-between;
    height: 80px;
    padding-top: 30px;
    padding-bottom: 10px;
}
.main-nav {
    display: flex;
    align-items: center;
    height: 75px;
}
.main-nav-list{
    list-style: none;
    display: flex;
    gap: 30px;
}

.main-nav-list li a{
    text-decoration: none;
    color: #777;
}
.main-nav-list li a:hover{
    color: rgb(71, 110, 196);
}
.spotlight{
    height: auto;
    margin: auto;
}
.text-block{
    height: 300px;
    width: 450px;
    padding: 0px 12px;}
.text-block .title-heading{
    font-size: 45px;
    color: rgb(34, 33, 33);
    max-width: 300px;
}
.spt-container{
    height: 540px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.person-img{
    height: 500px;
    width: 540px;
}

.changing-text{
    color: rgb(19, 102, 179);
}
.prg-1{
    font-size: 22px;    margin-top: 15px;
    color: #777;
    margin-bottom: 15px;
}
.prg-2{
    font-size: 22px;
    color: #777;
}
.feature-division{
    height: auto;
    
}
.course-highlights-text{
    padding: 0px 275px;
    padding-top: 100px;
    text-align: center;
    color: #1e2022;
}
.course-highlights-text span{
    font-size: 15px;
    font-weight: 1000;
}
.course-highlights-text h1{
    font-size: 25px;
    padding-top: 10px;
}
.clm-rw-1{
   max-width: 250px;
   margin-top: 50px;
   margin-left: 1rem;
}
.icons{
    font-size: 45px;
    color: rgb(10, 152, 218);
    padding-bottom: 20px;
    padding-left: 10px;
}
.clm-rw-1 h3{
    font-size: 20px;
    padding-bottom: 5px;
    font-weight: bold;
}
.clm-rw-1 p{
    color: #777;
}
.row-container-1,.row-container-2{
    display: flex;
    justify-content: center;
}
.about-the-prgm{
    text-align: center;
    padding-top: 200px;
    margin: 0px auto !important;
    margin-bottom: 4rem;

    
}
.about-the-prgm h2{
    padding-top: 15px;
}
.fa-wrench{
    font-size: 2rem;
    margin-bottom: 15px;
    color: rgb(10, 152, 218);
}
.check-list{
    padding: 0px 50px;
    height: auto;
}
.check-list ul{
    list-style: none;
}
.check-list ul li{
    margin-top: 20px;

}
.fa-circle-check{
    color: rgb(10, 152, 218);
    padding-right: 10px;
    
}
.quote-1{
    max-width: 300px;
    padding: 30px;
    box-shadow: 0 .375rem 1.5rem 0 rgba(140,152,164,.125);
}
.quote-1 p{
    color: #777;
}
.learning-details{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}
.langs-tools h1{
    font-size: 20px;
    padding-top: 200px;
    margin-left: auto;
    margin-right: auto;
}
.lang-framewrk-images-1 img,.lang-framewrk-images-2 img{
    height: 90px;
}
.lang-framewrk-images-1,.lang-framewrk-images-2{
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 100px;
    padding-top: 50px;
}
.ptr-img{
    text-align: center;
    margin-bottom: 6rem;
    margin-top: 7rem;
}
.content-1 h3{
    font-weight: lighter;
}
.content-bg{
    display: flex;
    justify-content: center;
    text-align: center;
}
.content-bg h3{
    margin-right: 20px;
}
.content-1{
    display: flex;
    justify-content: center;
    margin-bottom: 8rem;
    align-items: center;
}
.content-1 h3{
    margin-top: 10px;
    font-size: 1rem;
}

.buttons {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}
.buttons a{
    text-decoration: none;
    color: white;
    background-color: rgb(10, 152, 218);
    font-size: 15px;
    border-radius: .3125rem;
    padding-top: 10px;
    padding-bottom: 10px;
    /* margin-left: 20px; */
    padding-right: 0px;
    padding: .6125rem 1rem;
}
.buttons a:hover{
    color: #777;
}
.footer-sec{
    background-color: rgb(12, 61, 104);
    max-height: 500vh;
    padding-bottom: 8rem !important;
}
.h1-p{
    color: whitesmoke;
    margin-bottom: 30px;
}
.details-row,.address-clm{
    color: white;
    display: flex;
    max-width: 1000px;
    gap: 60px;
}
.content-part1{
    padding-top: 100px;
}
.circle{
    height: 45px;
    width: 45px;
    background-color: rgba(140,152,164,.125);
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 10px;
    text-align: center;
}
.general-enq mail-to{
    font-size: 14px;
}
.phone-no{
    margin-right: 20px;
}
.address-clm{
    margin-top: 50px;
    max-width: 200px;
}
.test-class span{
    text-align: center;
    align-items: center;
    line-height: 2.1;
    font-size: 20px;
}
.text-area-form{
    resize: vertical;
    min-height: 12rem;
    max-height: 20rem;
}
.form-1{
    background-color: white;
}
.full-content{
    display: flex;
    justify-content: space-between;
}
.content-2{
    padding: 2rem 2rem;
    background-color: white;
    margin-top: 50px;
    border-radius: 5px;
    box-shadow: 0 .375rem 1.5rem 0 rgba(0, 0, 0, 0.13);
    height: auto;
}
.form-1{
    border-radius: 5px;
}
.form-1 .name,.in-wd{
    width: 100%;
    height: 40px;
    margin: 10px 0px;
    padding: 15px;
    border-radius: 5px;
    border: .0625rem solid rgba(33,50,91,.1);
}
.form-1 input::placeholder{
    font: 16px 'Poppins';
}
.form-1 textarea::placeholder{
    font: 16px 'Poppins';
}
.form-1 textarea{
    height: 30px;
    padding: 15px;
    margin: 10px 0px;
    border-radius: 5px;
    border: .0625rem solid rgba(33,50,91,.1);
    width: 100%;
    box-sizing: border-box;
}
.in-wd{
    box-sizing: border-box;
}

.form-names{
    display: flex;
    box-sizing: border-box;
    gap: 20px;
}
.content-2 h3{
    margin: 10px;
}
.name{
    box-sizing: border-box;
}
.check-box1{
    height: 16px;
    width: 16px;
    margin-right: 10px;
}
.check-box1:checked {
    color: green;
    background-color: #377dff;
    border-color: #377dff;
  }
.form-1 label{
    color: #777;
}
.form-1 label a{
    text-decoration: none;
}
.button-3{
    text-align: center;
    padding: 20px 25%;
    background-color: rgb(10, 152, 218);
    border-radius: 0.5rem;
    border: .0625rem solid rgba(33,50,91,.1);
    margin-top: 10px;
    color: white;
    transition: all .2s ease-in-out;
}
.form-btn{
    text-align: center;
}
.form-btn button:hover{
    background-color: rgb(11, 109, 155);
}
.nav-secondary{
    display: none;
    line-height: 5.2;
}
.fa-bars{
    padding: .7rem;
    color: #777;
    background-color: white;
    background-color: rgba(140,152,164,.01);
    font-size: 20px;
    border-radius: 5px;
}
.inter-nav{
    border: 10px none ;
    padding: 0px;
    border-radius: 5px;
}
.programming-lang-head{
    text-align: center;
}
 
@media all and (max-width: 900px) {
    
    .langs-tools{
        box-sizing: border-box;
    }
    .lang-framewrk-images-2{
        padding-top: 0%;
    }
    .ptr-img img{
        width: 50vw;
    }
    .full-content{
        display: block;
    }
    .course-highlights-text{
        padding-top: 5rem;
        padding-bottom: 0%;
        padding-left: 0%;
        padding-right: 0%;
    }
    .course-highlights-text h1{
        font-weight: 500;
        margin-top: 1rem;
        font-size: 20px;
    }
    .course-highlights-text span{
        font-weight: 700;
    }
    .person-img{
        display: none;
    }
}
@media all and (max-width:780px){
    .content-1{
        display: block;
    }
    .content-1 h3{
        margin-right: 0px;
    }
    
    .ptr-img{
        margin-top: 0px;
    }
    .learning-details{
        display: grid;
        justify-content: center;
        margin-top: 0px;
        }
    .learning-details .check-list{
        margin-bottom: 4rem;
        padding: 0px;
        justify-self: center;
    }
    /* .learning-details .quote-1{
        
    } */
    .about-the-prgm{
        margin-bottom: 0px;
    }
    .langs-tools h1{
        padding-top: 0px;
        font-size: 1rem;
    }
    .row-container-1,.row-container-2{
        display: grid;
        margin-left: 0px;    }
    .clm-rw-1{
        max-width: 100%;
        font-size: 1.3rem;
    }
    .main-nav-list{
        display: none;
    }
    .nav-secondary{
        display: block;
    }
    .container{
        padding: 30px 10px;
    }
    .spt-container{
        height: auto;
        margin-top: 4rem;
    }
    .text-block .title-heading{
        font-size: 50px;
    }
    .text-block p{
    font-size: 19px;
    }
}
@media all and (max-width: 950px) {
    .container{
        padding: 30px 10px;
    }
}
@media all and (max-width: 1065px){
    .lang-framewrk-images-1,.lang-framewrk-images-2{
        text-align: center;
        display: block;
        gap: 4rem;
    }
    .lang-framewrk-images-2 img,.lang-framewrk-images-1 img{
        padding: 10px ;
    }
}

